<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8"/>
         <link rel="stylesheet" href="{% static 'blog/style.css' %}"/>
        <title> About Me </title>
    </head>
    <body>
        
        <ul>
            <li>
                <a href= {% url "blog:index" %} > Index </a>
            </li>
            <li>
                <a href= {% url "blog:techtips" %} > Tech Tips </a>
            </li>
            <li>
                <a href= {% url "blog:home" %} > Home </a>
            </li>
            <li>
                <a href= {% url "blog:archive" %} > Archive </a>
            </li>
        </ul>
        
        <h2> About Me </h2>
        <h7> Right Now it is {{ now }} </h7>
        <br></br>
        <img class= "my-face" src="{% static 'blog/traveler%20picture.jpg' %}" alt="This is me" height="300" width="300" >
            
            <h4> About my life </h4>
            
            <p> Maecenas vitae lorem id nibh interdum iaculis at egestas felis.
            Pellentesque eget risus sed ex fermentum aliquam. Curabitur in
            elementum dui, sit amet imperdiet lectus. Duis et urna ut ante
            egestas gravida. Maecenas nisl quam, porta nec consectetur ut,
            tincidunt aliquam eros. Donec tempus ultrices ligula, sit amet
            imperdiet mauris porta id. Suspendisse posuere ante sed vehicula
            bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus pulvinar arcu efficitur faucibus venenatis. Nunc lorem ante,
            condimentum eu ullamcorper eget, eleifend eu tellus. In pretium tellus
            eget lobortis rutrum. Maecenas consequat mauris non tellus tempor
            dictum. Nulla fermentum imperdiet lectus, in scelerisque arcu consectetur at. </p>
            
            <h4> Some of my favorite Foods </h4>
            <ol>
                <li> Firecracker Chicken </li>
                <li> Betos Super Nachos </li>
                <li> Waffle Love </li>
            </ol>
            
            <h3> Gallery </h3>
            
            <img src="{% static 'blog/ski.jpg' %}" alt="skiing" height="300" width="300" >
                <img src="{% static 'blog/sushi.jpg' %}" alt="sushi" height="300" width="300" >
                    <img src="{% static 'blog/zebra.jpg' %}" alt="zebra" height="300" width="300" >
                        
                        
    </body>
</html>

