<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'blog/style.css' %}"/>
        <title> Welcome to the Blog </title>
    </head>
    <body>
        
        <ul>
            <li>
                <a href= {% url "blog:bio" %} > Bio </a>
            </li>
            <li>
                <a href= {% url "blog:techtips" %} > Tech Tips </a>
            </li>
            <li>
                <a href= {% url "blog:home" %} > Home </a>
            </li>
            <li>
                <a href= {% url "blog:archive" %} > Archive </a>
            </li>
        </ul>
        
        <h1> Jadon's Travel Blog </h1>
        
        
        
        
        {% if blog_post %}
        <div>
            
            <p><h3> {{blog_post.title_blog}}</h3>
            <h4>
                Author: {{blog_post.author_blog}}
                Date Published: {{blog_post.pub_date}}
            </h4>
            </p><p>
            {{ blog_post.content_blog}}
            </p>
            <p><b>Comments</b></p>
            {% for comment in blog_post.comment_set.all %}
            <div id="comment_box">
                
                
            <p> Nickname: {{ comment.author_com }} |
                Date Published: {{ comment.pub_date }} |
                User E-mail: {{ comment.email }}
                </p>
                <p> {{ comment.author_com }} said: </p>
                <p> "{{ comment.content_com }}" </p>
                
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p> no blogs available. </p>
        {% endif %}
        
        <div id="entry_box">
            <h4> Add Comment </h4>
            <form action = "post" method="POST">
                {% csrf_token %}
                Nickname: <input type="text" name="author_com" ><br>
                E-mail: <input type="email" name="email" ><br>
                Comment: <input type="textarea" lines="30" columns="120" name="content_com" >
                <input type="submit" value="Post" >
            </form>
        </div>
        
        
    </body>
</html>
