<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'blog/style.css' %}"/>
        <title> Welcome to the Blog </title>
    </head>
    <body>
        
        <ul>
            <li>
                <a href= {% url "blog:bio" %} > Bio </a>
            </li>
            <li>
                <a href= {% url "blog:techtips" %} > Tech Tips </a>
            </li>
            <li>
                <a href= {% url "blog:archive" %} > Archive </a>
            </li>
        </ul>
        
        <h1> Jadon's Travel Blog </h1>
        
        <h2> Home </h2>
        
        {% if recent_blogs_list %}
        <div>
            {% for blog in recent_blogs_list %}
            <p><a href= {% url "blog:detail" blog.id %} > <h3>  {{blog.title_blog}} </h3> </a>

            <h4>
                Author: {{blog.author_blog}}
                Date Published: {{blog.pub_date}}
            </h4>
            </p><p>
            {{ blog.content_blog|truncatewords:200 }}
            </p>
            <p> Number of Comments: {{ blog.comment_set.count }}</p>

            {% endfor %}
        </div>
        {% else %}
        <p> no blogs available. </p>
        {% endif %}
        
        
        
    </body>
</html>


