<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}"/>
    <title> Welcome to the Blog </title>
</head>
<body>

<ul>
    <li>
        <a href= {% url "blog:bio" %} > Bio </a>
    </li>
    <li>
        <a href= {% url "blog:techtips" %} > Tech Tips </a>
    </li>
    <li>
        <a href= {% url "blog:home" %} > Home </a>
    </li>
    <li>
        <a href= {% url "blog:archive" %} > Archive </a>
    </li>
</ul>

<h1> Jadon's Travel Blog </h1>
<h7> Right Now it is {{ now }} </h7>
<h4> Summer Camp - August 2018 </h4>
<p class = "blog">Nam ornare risus quis massa cursus, et tristique ex sollicitudin.
    Aliquam id faucibus metus. Nunc porta auctor neque at lobortis.
    Cras porttitor felis ac sapien fringilla sodales. Maecenas tempor
    pharetra risus, nec fermentum ligula accumsan sit amet. Vestibulum
    dui lorem, varius ac lectus sed, pharetra bibendum tellus. Proin
    dapibus ut arcu in pharetra. Duis massa purus, volutpat sed dictum
    in, accumsan sed ex. Donec ligula justo, volutpat non erat sed,
    rhoncus commodo lacus. Maecenas varius rhoncus mi ac congue.
    Nullam vestibulum libero non leo pulvinar, sed tincidunt nibh
    rutrum. Nam blandit nisl vitae purus suscipit volutpat venenatis
    quis orci. Duis risus erat, molestie vitae urna ut, mattis pretium
    massa.dapibus ut arcu in pharetra. Duis massa purus, volutpat sed dictum
    in, accumsan sed ex. Donec ligula justo, volutpat non erat sed,
    rhoncus commodo lacus. Maecenas varius rhoncus mi ac congue.
    Nullam vestibulum libero non leo pulvinar, sed tincidunt nibh
</p>

<h4> Moab Trip - September 2018 </h4>
<p class = "blog" > Duis tempor ut purus non imperdiet. In tempor felis risus,
    fermentum efficitur magna varius vitae. Sed a velit lacus. dapibus ut
    arcu in pharetra. Duis massa purus, volutpat sed dictum
    in, accumsan sed ex. Donec ligula justo, volutpat non erat sed,
    rhoncus commodo lacus. Maecenas varius rhoncus mi ac congue.
    Nullam vestibulum libero non leo pulvinar, sed tincidunt nibhIn aliquam sapien sed
    turpis pretium, nec fermentum magna ullamcorper. Phasellus ligula libero,
    aliquam in maximus vel, fringilla quis nibh. Donec ornare odio a tincidunt
    lacinia. Curabitur sit amet molestie mauris. In fringilla nec tortor ac porta.
    Ut eget elit ut orci tincidunt auctor. Nulla tempus odio a nunc volutpat,
    feugiat commodo nulla ultrices. Duis commodo ligula vel imperdiet blandit. </p>

<br /> <br />

<h2>Upcoming Trips</h2>
<h4>New York - February 2019</h4>
<p class = "blog" >Etiam molestie tellus non nisl eleifend, nec pulvinar ligula elementum.
    Etiam a eros elementum tellus viverra fringilla rhoncus ullamcorper justo.
    Sed in efficitur dui. Integer eleifend non quam sit amet euismod. Cras
    fermentum odio id tortor gravida, vitae consectetur sem rhoncus. Phasellus
    in volutpat metus. Vivamus imperdiet felis vitae enim accumsan venenatis.
    Praesent dignissim ultrices mi at faucibus. Aenean ut orci felis. Ut vitae
    urna a est aliquam placerat id vitae sapien. In vitae tristique diam. Duis
    malesuada a magna sit amet bibendum. Mauris lacinia diam neque, id auctor
    libero tincidunt quis. Vivamus vel nunc ut metus venenatis gravida. dapibus
    ut arcu in pharetra. Duis massa purus, volutpat sed dictum
    in, accumsan sed ex. Donec ligula justo, volutpat non erat sed,
    rhoncus commodo lacus. Maecenas varius rhoncus mi ac congue.
    Nullam vestibulum libero non leo pulvinar, sed tincidunt nibh</p>



</body>
</html>
