<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}"/>
    <title> Tech Tips </title>
</head>
<body>
<ul>
    <li>
        <a href= {% url "blog:index" %} > Index </a>
    </li>
    <li>
        <a href= {% url "blog:bio" %} > Bio </a>
    </li>
    <li>
        <a href= {% url "blog:home" %} > Home </a>
    </li>
    <li>
        <a href= {% url "blog:archive" %} > Archive </a>
    </li>
</ul>

<h1> Git Cheat Sheet </h1>
<h7> Right Now it is {{ now }} </h7>
<p id="intro">Use these tips to quickly set up a repository and make commits to it!</p>

<br/>

<div>
    <table>
        <tr>
            <th> Git Command </th>
            <th> Description </th>
            <th> Example </th>
        </tr>
        <tr>
            <td>git init</td>
            <td> Creates a repository with the name as the argument</td>
            <td> <code> git init cs2610-riggs-jadon-assn1 </code></td>
        </tr>
        <tr>
            <td> git add </td>
            <td> Adds all files you list to the "deck", to be committed </td>
            <td> <code> git add my-file.html </code></td>
        </tr>
        <tr>
            <td> git status </td>
            <td> check status of updated or untouched files </td>
            <td> <code> git status </code></td>
        </tr>
    </table>
</div>

</body>
</html>
