


body {
    background-color: lavender;
    margin: 30px;
}

text {
    font-family: "Times New Roman", Times, serif;
}

h1 {
    color: dimgray;
    text-align: center;
}

h4 {
    color: darkblue;
    font-style: italic;
}

.blog p {
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}

#intro {
    color: darkblue;
    text-align: center;
    font-size: 14pt;
}

table {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}

table , td, tr {
    border: 2px solid blue;
    font-size: 16pt;
}

td {
    text-align: center;
}

#comment_box {
    border: 2px solid darkslategray;
    margin-left: 20px;
    border-collapse: collapse;
}